<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/bank-manager-client/src/main/java/org/bank/manager/client/ClientLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.bank.manager.client.ClientLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="org/bank/manager/client/conf/labels.xml&#13;&#10;org/bank/manager/client/clientapplicationlocal.xml&#13;&#10;-conf&#13;&#10;org/bank/manager/client/conf/defaultXmlConfigurationParameters.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bank-manager-client"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcom.ontimize.gui.lafclassname=&quot;com.ontimize.plaf.OntimizeLookAndFeel&quot;&#13;&#10;-Dcom.ontimize.gui.lafstyle=&quot;com/ontimize/plaf/style/whiteStyle.css&quot;"/>
</launchConfiguration>
