<?xml version="1.0" encoding="ISO-8859-1" ?>
<ApplicationMenuBar>
 
 <Menu attr="File">
        <MenuItem attr="Lock" icon="com/ontimize/gui/images/padlock.png" shortcut="ctrl B" />
        <MenuItem attr="SendToTray" shortcut="ctrl T" icon="com/ontimize/gui/images/sendtotray.png" />
        <MenuItem attr="Exit" icon="com/ontimize/gui/images/exit2.png" />
 </Menu>
 
 <Menu attr="Ontimize">
       <MenuItem attr="Chat" icon="com/ontimize/gui/images/userconnect2.png" />
       <MenuSeparator />
       <MenuItem attr="ShortcutConfiguration" />
       <CheckMenuItem attr="ShowHideStatusBar" />
       <CheckMenuItem attr="ShowHideTableRowNumber" />
       <CheckMenuItem attr="ShowHideToolbar" />
       <MenuSeparator />
       <MenuItem attr="FontSetup" icon="com/ontimize/gui/images/font.png" />
           <Menu attr="Font">
               <RadioItemGroup>
                   <RadioMenuItem attr="SmallFont" />
                   <RadioMenuItem attr="RegularFont" />
                   <RadioMenuItem attr="LargeFont" />
               </RadioItemGroup>
           </Menu>
       <MenuSeparator />
       <MenuItem attr="ChangeTableFieldLook" icon="com/ontimize/gui/images/componentaspect.png" />
       <MenuSeparator />
       <MenuItem attr="SystemInformation" />
   </Menu>
 
    <MenuLocale attr="Language" resourceBundle="org.bank.manager.client.i18n.bundle">
       <LocaleMenuItem attr="Spanish" locale="es_ES" />
       <LocaleMenuItem attr="English" locale="en_US" />
   </MenuLocale>

   <Menu attr="Administration">
       <MenuItem attr="Managerusers" icon="org/bank/manager/client/images/users.png" />
       <MenuItem attr="Managerprofiles" icon="org/bank/manager/client/images/profiles.png" />
       <MenuSeparator />
       <MenuItem attr="ChangePassword" icon="org/bank/manager/client/images/password.gif" />
       <MenuItem attr="Managerabout" icon="com/ontimize/gui/images/iconimatia.gif"/>
   </Menu>

   
    <Menu attr="Management">
        <MenuItem attr="Managercustomers" icon="org/bank/manager/client/images/customer.png" />
        <MenuItem attr="Manageraccounts" icon="org/bank/manager/client/images/accounts.png" />
        <MenuItem attr="Managermovements" icon="org/bank/manager/client/images/movements.png" />
        <MenuItem attr="Managerbranches" icon="org/bank/manager/client/images/branches.png" />  
    </Menu>
    
</ApplicationMenuBar >